.house {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 95vh;
  height: auto;
  width: 100%;
  // background-color: $color-bluegrey--dull;
  background-color: white;

  //left half of all houses
  &__info {
    width: 50%;
    min-height: 95vh;
    height: auto;
    // overflow-y: scroll;
    // scrollbar-width: 0;
    // scrollbar-gutter: none;
    // scroll-behavior: smooth;

    &--header {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem;
      height: 10rem;
      background-color: $color-white;
      // background: $color-pink--grad;
      border-bottom: 2px solid $color-pink--dull;

      & > * {
        align-self: baseline;
        flex: 1;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      // height: 84vh;
      gap: 1rem;
      height: auto;
      
      padding: 1rem;
      // border: 2px solid green;
      
      .info__general {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        //set height to keep photo and overview same height
        // height: 50%;
        height: auto;

        @include respond(laptop){
          flex-direction: column;
        }

        & > * {
          box-shadow: 0px 10px 15px rgba($color-black, 0.2);
          flex: 1;
          width: 50%;
          height: 100%;

          @include respond(laptop){
            height: auto;
            width: 100%;
          }
        }

        &--photo {
          display: flex;
          background-size: cover;
          border: 1px solid $color-grey--light;

          .info--photo {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        &--overview {
          background: $color-white;
          padding: 0.5rem;

          @include respond(laptop){
            padding: 3rem 3rem;
          }

          .overview--title {

            @include respond(laptop){
              margin: 1rem;
            }
          }

          .overview--container {
            display: flex;
            flex-direction: row;
            height: 90%;

            & > * {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              gap: 0.5rem;
              flex: 1;
              width: 100%;
            }

            .overview--item {
              display: flex;
              flex-direction: row;
              gap: 0.5rem;
              margin-left: 1rem;

              @include respond(laptop){
                margin-top: 1rem;
              }

              & > i {
                color: blue;
              }

              & > * {
                align-self: baseline;
                line-height: 1.3;
              }
            }
          }
        }
      }

      .info__description {
        padding: 2rem;

        &--paragraph {
          margin-top: 1rem;
        }
      }
    }
  }

  &__photos {
    width: 50%;
    // padding: 0.5rem;
    height: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;

    &--slider {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      transition: all 0.5s;

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.5s;
      }

      .nav__btn {
        position: absolute;
        top: 50%;
        padding: 1rem;
        margin: 0.5rem;
        font-size: 1rem;

        &--left {
          left: 0;
        }

        &--right {
          right: 0;
        }
      }
    }
  }
}
